/*Button CSS Start*/
div.btn {
	width:256px;
	height:50px;
	margin-bottom:5px;
	margin-top:10px;
	cursor:pointer
}
.btndrp {
	background-color:#ff4500;
	color:#ffffff;
	padding:16px;
	width:256px;
	font-size:16px;
	border:none;
	cursor:pointer;
	border-radius:8px;
	transition: background 0.4s
}
#btndrp_abc {
	background-color:#ff4500;
	color:#ffffff;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
	border-radius:8px;
	margin-top:10px;
	transition: background 0.4s;
	float:left;
}
#btndrp_ab {
	background-color:#ff4500;
	color:#ffffff;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
	border-radius:8px;
	margin-top:10px;
	margin-right:5px;
	transition: background 0.4s;
	float:left;
}
#btndrp_am {
	margin-left:38px;
	background-color:#ff4500;
	color:#ffffff;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
	width:150px;
	border-radius:8px;
	transition: background 0.4s
}
div.btncnt {
	display:none;
	position:absolute;
	background-color:#f9f9f9;
	min-width:256px;
	box-shadow:2px 2px 5px rgb(128,128,128);
	border-radius:8px
}
div.btncnt a {
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
	border-radius:8px
}
div.btn:hover > div.btncnt {display:block}
div.btncnt a:hover {
	background-color:#f1f1f1;
	color:#ff3300;
}
div.btn:hover>.btndrp {
	background-color:#FF9855;
	color:black;
}
div#btn5:hover>#btndrp_abc{
	background-color:#FF9855;
	color:black;
}
div#btn6:hover>#btndrp_ab{
	background-color:#FF9855;
	color:black;
}
div#btnm:hover>#btndrp_am {
	background-color:#FF9855;
	color:black;
}
div#btn1 {
	float:left;
	margin-right:5px;
	margin-top:10px;
}
div#btnm {
	float:left;
	margin-right:5px;
	margin-top:10px;
}
div#btn2,div#btn3{
	float:left;
	margin-right:5px
}
/*Button CSS End*/
div#regform_back{
	border:1px solid black;
	width:100%;
	height:650px;
	float:left;
	margin-top:50px;
	background-image:url("register_form_back_image.jpg");
}
div#regform {
	width:50%;
	height:550px;
	float:left;
	padding:20px;
	margin-top:30px;
	margin-left:310px;
}
div#regform p#regform_head {
	font-family:century gothic;
	text-align:center;
	font-size:30px;
	color:#FF2E00;
}
div#regform label {
	font-family:tahoma;
	padding-left:5px;
	color:#ff6400;
}
div#regform input[type=text],div#regform input[type=password]{
	background-color:#F0F0F0;
	border:1px solid #ccc;
	border-radius:1px;
	width:200%;
	padding:5px;
}
div#regform input[type=submit] {
	width:20%;
	padding:10px;
	cursor:pointer;
	margin-left:100px;
	margin-top:40px;
	font-size:16px;
	font-family:century gothic;
	background-color:#28B463;
	border:none;
	border-radius:5px;
	color:#ffffff
}
div#regform input[type=submit]:hover {
	background-color:#43D380;
	box-shadow:0.5px 0.5px 5px #000000;
	font-size:17px;
}
div#regform input[type=button] {
	width:20%;
	padding:10px;
	cursor:pointer;
	float:right;
	margin-right:100px;
	margin-top:40px;
	font-size:16px;
	font-family:century gothic;
	background-color:#FF471A;
	border:none;
	border-radius:5px;
	color:#ffffff
}
div#regform input[type=button]:hover {
	background-color:#FF3D3D;
	box-shadow:0.5px 0.5px 5px #000000;
	font-size:17px;
}
/* Bottom Div CSS Start */
div#dbotom {
	width:100%;
	height:250px;
	margin-top:20px;
	float:left;
	border:solid black thin;
	background-color:#000000;
}
div#dbotom div#h1{
	float:left;
	margin-left:30px;
}
div#dbotom div#h2{
	float:left;
	margin-left:300px;
}
div#dbotom div#h3{
	float:right;
	margin-right:200px;
}
/* Bottom Div CSS End */
table {
	margin-left:42px;
}
p.erdiv{
	font-family:courier;
	font-size:70%;
	width:100%;
	border:1px solid red;
	padding:4px;
	background-color:#FDFEFE;
	color:red;
	border-radius:4px;
	margin-left:10px;
	margin-top:2px;
}